fb_username='YOUREMAIL@EMAIL.COM',    # the username you use to login to facebook with, this could be your email
fb_password='YOURPASSWORD'  # the password you use to login to facebook with
fb_name='YOURNAME' # the name that appears at the end of the URL when you navigate to your profile
num_days=50 # the number of days # will only return posts after this date (in this case, posts in the last 50 days)
max_posts=2 # it will only get a maximum of this many posts
